package components
templ ActivityChart() {
	<div class="lg:col-span-2 bg-white p-6 rounded-xl shadow-md">
		<h3 class="font-semibold text-lg text-gray-800 mb-4">Atividade da Semana</h3>
		
		<div>
			<canvas id="activityChartCanvas"></canvas>
		</div>

	</div>
}